.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 800px;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px #666;
}

.post-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.post-guesses {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%;
  }
}
